#board {
  margin-top: 10px;
}

.box {
  border: 1px solid black;
  height: 150px;
}

.X {
  background-color: #81F7F3;
}

.O {
  background-color: #81F781;
}


.title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.players {
  position: relative;
  display: inline-block;
  left: 2em;
}

.reset {
  position: absolute;
  display: inline-block;
  top: 2em;
  right: 3em;
}

.square {
  display: inline-block;
  border: 3px solid black;
  width: 10em;
  height: 10em;
  margin-bottom: 1px;
}

.win {
  display: inline-block;
  border: 3px solid yellow;
  width: 10em;
  height: 10em;
  margin-bottom: 1px;
}

/* display: table-cell is required in order to use vertical-align
 This allows for an X or O perfectly centered in the p element */
.blank {
  display: table-cell;
  /* inherit setting from parent element's class */
  width: inherit;
  height: inherit;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  /*background-color: #D8D8D8;*/
}